Node-RED flow.txt
[{"id":"ed34cb3f.3cdd58","type":"mqtt-broker","z":"c2415f9a.3dbea","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"8346630c.1bcb9","type":"random","z":"c2415f9a.3dbea","name":"Simulated Temperature Sensor","low":"20","high":"42","inte":"true","x":480,"y":113,"wires":[["a63d6b8f.38afa8"]]},{"id":"d48d43f8.9b775","type":"inject","z":"c2415f9a.3dbea","name":"Periodic node","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":255,"y":102,"wires":[["8346630c.1bcb9"]]},{"id":"a63d6b8f.38afa8","type":"mqtt out","z":"c2415f9a.3dbea","name":"Temp. Sensor Publisher","topic":"tempMeasurement","qos":"","retain":"","broker":"ed34cb3f.3cdd58","x":775,"y":105,"wires":[]},{"id":"7d7e2e82.caea9","type":"mqtt in","z":"c2415f9a.3dbea","name":"Temp. Sensor Subscriber","topic":"tempMeasurement","broker":"ed34cb3f.3cdd58","x":221,"y":246,"wires":[["29f9fcdf.6e3354"]]},{"id":"eea76b92.bc51e8","type":"mqtt out","z":"c2415f9a.3dbea","name":"RoomAvgTemp Publisher","topic":"roomAvgTempMeasurement","qos":"","retain":"","broker":"ed34cb3f.3cdd58","x":798,"y":260,"wires":[]},{"id":"29f9fcdf.6e3354","type":"function","z":"c2415f9a.3dbea","name":"RoomAvgTemp","func":"context.temps = context.temps || [];\ndata=JSON.parse(msg.payload);\ncontext.temps.push(data);\nvar NO_OF_SAMPLE=5;\nif (context.temps.length > 4) {\n  var avg=0.0;\n  for (var i=0; i<NO_OF_SAMPLE; i++) {\n    avg =parseFloat(avg)+parseFloat(context.temps[i]);\n  }\n  avg =avg/NO_OF_SAMPLE;\n  msg.payload = avg;\n  context.temps=[];\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"x":554,"y":241,"wires":[["eea76b92.bc51e8"]]},{"id":"f48bf8f6.2a9b48","type":"mqtt out","z":"c2415f9a.3dbea","name":"RoomController Publisher","topic":"setTemp","qos":"","retain":"","broker":"ed34cb3f.3cdd58","x":724,"y":434,"wires":[]},{"id":"57d0ab25.fd41b4","type":"mqtt in","z":"c2415f9a.3dbea","name":"RoomAvgTemp Subscriber","topic":"roomAvgTempMeasurement","broker":"ed34cb3f.3cdd58","x":202,"y":395,"wires":[["e1d1a007.10068"]]},{"id":"e1d1a007.10068","type":"function","z":"c2415f9a.3dbea","name":"RoomController","func":"roomavg = JSON.stringify(msg.payload);\n  if(roomavg <=30 && roomavg >=20)\n  {\n msg.payload= roomavg;    \n  }\n  \n return msg;","outputs":1,"noerr":0,"x":465,"y":387,"wires":[["f48bf8f6.2a9b48"]]},{"id":"b3fe211c.ee173","type":"debug","z":"c2415f9a.3dbea","name":"","active":true,"console":"false","complete":"false","x":707,"y":523,"wires":[]},{"id":"aca71873.67b3b8","type":"mqtt in","z":"c2415f9a.3dbea","name":"RoomController Subscriber","topic":"setTemp","broker":"ed34cb3f.3cdd58","x":194,"y":542,"wires":[["9e1601fd.b3de3"]]},{"id":"9e1601fd.b3de3","type":"function","z":"c2415f9a.3dbea","name":"Simulated Heater","func":"\nreturn msg;","outputs":1,"noerr":0,"x":506,"y":518,"wires":[["b3fe211c.ee173"]]}]